extends layout.pug

block content
    main
        h1.visually-hidden Ошибка 404
        section.error
            h2(class='error__title title title--big') Похоже ошиблись адресом
            a(class='error__link text text--big' href='/main') Вернуться на главную