doctype html
html(lang='ru')
    include ../common/head.pug
    body
        .wrapper-color
            include header.pug
            block content
            include ../common/footer.pug
        include ../common/scripts.pug
