doctype html
html(lang='ru')
    include head.pug
    body
        .wrapper-color
            include header-menu.pug
            block content
            include footer.pug
        include scripts.pug
